<%= form_for :student, url: student_create_path do |f| %>
    <p>
      <%= f.label :name, 'Nombre' %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :surname, 'Apellido' %><br>
      <%= f.text_field :surname %>
    </p>

    <p>
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </p>

    <p>
      <%= submit_tag 'No me lo pierdo' %>
    </p>
<% end %>